{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <title> Contact </title>
    <link href="{% static 'bootstrap.css' %}" type="text/css" rel="stylesheet"/>
</head>

<body background="{% static 'background.jpg' %}">
    <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Contact</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                   <a class="nav-link" href="index.html"> About Me </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="resume.html">Resume</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="registry.html">Registration</a>
                </li>
            </ul>
        </div>
    </nav>
    
    <br /> <br /> <br /> <br />

    <div class="containercustom" id="center">
        <div class="row">
        <div class="col-sm-6">
            <a href="https://www.instagram.com/raihansyah7/" target = "_blank">
            <img class="logo" border="0" alt="IG" src="{% static 'instagram.png' %}"/></a>
        </div>
        <div class="col-sm-6">
            <a href="https://plus.google.com/+NaufalRaihansyah" target = "_blank">
            <img class="logo" border="0" alt="GoogleContact" src="{% static 'gmail.png' %}"/></a>
        </div>
        </div>​
    </div>
    
    <h3 align="center" style="font-family:'Courier New', Courier, monospace" >
        Click for more info!
    </h3>
    
    </div>
</body>
