{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <title> About Me </title>
    <link href="{% static 'bootstrap.css' %}" type="text/css" rel="stylesheet"/>
</head>

<body background="{% static 'background.jpg' %}">
    <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">About Me</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">

            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="resume.html">Resume</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="registry.html">Registration</a>
                </li>

                
            </ul>

        </div>
    </nav>

    <br />

    <div class="containercustom" id="center">
        <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif"  
        class="imageavt" align="center">Who am i?</h1>

        <div class="overlaycustom">
            <img class="imageavt" border="0" alt="Me" 
            src="{% static 'me.jpg' %}"/>
            <p style="font-size: 17px" >  Muhammad Naufal Raihansyah <br />
            Web programmer dan designer <br />
            Fasilkom UI </p>
        </div>

    </div>

    <h2 align="center" style="font-family:'Courier New', Courier, monospace">
       Drag your mouse to center!
    </h2>

    </div>
    
</body>