{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <title> Contact </title>
    <link href="{% static 'bootstrap.css' %}" type="text/css" rel="stylesheet"/>
</head>

<body background="{% static 'background.jpg' %}">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Registration</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                   <a class="nav-link" href="index.html"> About Me </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="resume.html">Resume</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="contact.html">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
    <br />
                <div class="col-md-8 order-md-1">
                  <h4 class="mb-3">Registration</h4>
                  <form class="needs-validation" novalidate="">
                    <div class="row">
                      <div class="col-md-6 mb-3">
                        <label for="firstName">First name</label>
                        <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
                        <div class="invalid-feedback">
                          Valid first name is required.
                        </div>
                      </div>
                      <div class="col-md-6 mb-3">
                        <label for="lastName">Last name</label>
                        <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
                        <div class="invalid-feedback">
                          Valid last name is required.
                        </div>
                      </div>
                    </div>
        
                    <div class="mb-3">
                      <label for="username">Username</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">@</span>
                        </div>
                        <input type="text" class="form-control" id="username" placeholder="Username" required="">
                        <div class="invalid-feedback" style="width: 100%;">
                          Your username is required.
                        </div>
                      </div>
                    </div>
        
                    <div class="mb-3">
                      <label for="email">Email <span class="text-muted">(Optional)</span></label>
                      <input type="email" class="form-control" id="email" placeholder="you@example.com">
                      <div class="invalid-feedback">
                        Please enter a valid email address!
                      </div>
                    </div>
        
                    <div class="mb-3">
                      <label for="Password">Password</label>
                      <input type="password" class="form-control" id="pass" placeholder="Password" required="">
                      <div class="invalid-feedback">
                        Password must be filled!
                      </div>
                    </div>
        
                    <div class="mb-3">
                      <label for="address2">Confirmation Password </label>
                      <input type="password" class="form-control" id="pass2" placeholder="Password">
                      <div class="invalid-feedback">
                            Password invalid!
                      </div>
                      <br /> <br />

                      <button type="button" class="btn btn-primary">Register</button>

                    </div>
                  </form>
                </div>
              </div>