{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <title> Contact </title>
    <link href="{% static 'bootstrap.css' %}" type="text/css" rel="stylesheet"/>
</head>

<body background="{% static 'background.jpg'%}">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Contact</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                   <a class="nav-link" href="index.html"> About Me </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="contact.html">Contact</a>
                </li>
                <li class="nav-item">
                   <a class="nav-link" href="registry.html">Registration</a>
                </li>
            </ul>
        </div>
    </nav>

    